<table>
  <thead>
    <th>Nome</th>
    <th>Ano</th>
    <th>Descrição</th>
  </thead>
  <tbody>
    <% @movies.each do |movie| %>
      <tr>
        <td><%= movie.name %></td>
        <td><%= movie.year %></td>
        <td><%= movie.description %></td>
      </tr>
    <% end %>
  </tbody>
</table>
